
#banner{
    height: 60px;
    background-color: black;
    color: #777;
    line-height: 60px;
    
}
#banner_1{
    position:absolute;
    left: 80px;
}
#about{
    text-decoration:none;
}
.nav{
    margin: 20px;
    cursor:pointer
    
}
.nav2{
    font-size: 20px;color: #01A7EC;
}
.nav3{
    color: #01A7EC;
}
.serach{
    height: 18px;
    line-height: 15px;
}
.icon1{
    position:absolute;
    left: 1150px;
}
.icon2{
    position:absolute;
    left: 1200px;
    height: 20px;
}
.icon3{
    position:absolute;
    left: 990px; 
}
.t_img{
    width: 100%;
    height: 100%;
    background: url(../001博客/image/7.jpg);
    background-size: cover;
}
#t_banner{
    position:absolute;
    left: 120px;
    background: black;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor:pointer;
    
}
#t_banner2{
    position:absolute;
    left: 220px;
    background-color: #3A6AB5;
    color: white;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    cursor:pointer;
}
.max_text{
    position:absolute;
    left: 120px;
    border: 1px solid #FFFFFF;
    width: 700px;
    height: 500px;
    background-color: #FFFFFF;
}
.t_div{
    height: 60px;
}
#t_banner3{
    position:absolute;
    left: 650px;
}
.info{
    position:absolute;
    left: 850px;
    border: 1px solid #FFFFFF;
    width: 330px;
    height: 320px;
    background: url(../001博客/image/10.png) ;
    background-size: cover; 
    
}
.text_color{
    position:absolute;
    left: 30px;
    color: #555555;
}
.text_1{
    font-size: 18px;
    position:absolute;
    left: 30px;
    color: #555555;
}
.text_2{
    line-height: 2em;
}
.t_info{
    position:absolute;
    left: 30px;
}
.u_login{
    border: 1px solid #FFFFFF;
    width: 70px;
    height: 50px;
    background-color: #FFFFFF;
}
.t_box{
    position:absolute;
    left: 40%;
    width: 100%;
    /* border: 1px solid #FFFFFF;÷ */
    width: 300px;
    height: 300px;
    /* background-color: #C0E3B9; */
    
    
}
.t_box1{
    text-align: center;
    height: 30px;
}
.t_box2{
    position:absolute;
    left: 45px;
    background-color: #F7F7F7;
    height: 20px;
    width: 200px;
}
.line{
    width: 200px;
}
.serach_1{
    position:absolute;
    left: 220px;
    height: 24px;
    line-height: 10px;
}
.t_box3{
    height: 50px;
}
.t_box4{
    position:absolute;
    left: 40px;
    height: 40px;
}
.t_box5{
    position:absolute;
    left: 38px;
    height: 10px;
    line-height: 100px;
}
.t_box6{
    width: 210px;
    height: 20px;
}
.detail_box{
    position:absolute;
    left: 20%;
    height: 500px;
    width: 800px;
    background-color:#FFFFFF;
    border-radius:5px;
    box-shadow: 5px 5px 5px #888888;;
}
.detail_box_1{
    position:absolute;
    left: 120px;
    color: #01A7EC;
    font-size: 25px;
}
.detail_line{  
    position:absolute;
    left: 350px;
    width: 800px;
    color: #777;
}
.detail_box2{
    height: 100px;
    line-height: 80px;
}
.detail_button{
    position:absolute;
    left: 700px;
    background-color:  #01A7EC;
    color: #FFFFFF;
    border:1px solid #01A2E5;
    border-radius:5px;
    transform:translateY(120%);
}
.detail_box3{
    position:absolute;
    left:120px;
    line-height: 30px;
    }
    .detail_span{
    position:absolute;
    left: 150px;
    transform:translateY(-100%);
    width: 100px;
    /* display:none; */
    }
    .detail_span_info{
    position:absolute;
    transform:translateY(-40%);
        width: 500px;
    }
    .detail_box4{
    position:absolute;
    left: 160px;
    width: 100px;
    height: 170px;
    background-color:#FFFFFF ;
    border-radius:10px;
    box-shadow: 1px 1px 1px #888888;;
    }
    .detail_dev_1{
        text-align: center;
        color: #777;
        /* border:1px solid #E4DFE0; */
        border-radius:5px;
        height: 40px;
        line-height: 40px;
    }
    .detail_dev_2{
        color: #01A7EC;
    }
    .img_lb{
    position:absolute;
    left: 120px;
        height: 400px;
        width: 800px;
        /* border:1px solid #01A2E5; */
        
    }
    .img_lb_1{
    position:absolute;
    left: 430px;
    width: 40px;
    transform:translateY(1000%);
    }
    .img_lb_2{
    position:absolute;
    left: 480px;
    width: 40px;
    transform:translateY(1000%);
    }
    .img_lb_3{
    position:absolute;
    left: 530px;
    width: 40px;
    transform:translateY(1000%);
    }
    .img_lb_4{
    position:absolute;
    left: 580px;
    width: 40px;
    transform:translateY(1000%);
    }
    .img_size{
        width: 800px;
        height: 400px;
        /* border-radius:10px; */
    }
    .img_lb_right_1{
    position:absolute;
    top: 30px;
    left: 980px;
    height: 190px;
    width: 350px;
    /* background-color: rgba(156 ,156 ,156,0.7); */
        /* border:1px solid #01A2E5; */
    }
    .img_lb_right_2{
    position:absolute;
    left: 980px;
        height: 190px;
        width: 350px;
        /* border:1px solid #01A2E5; */
        transform:translateY(85%);
    }
    .img_size_1{
    width: 350px;
    height: 190px;
    }
     .max_area{
        /* position:absolute; */
        position: relative;
        left: 120px;
        top: 450px;
        height: 200px;
        width: 800px;
        background-color:#FFFFFF  ;
        border-radius:5px;
        box-shadow:3px 3px 3px #888888;
        /* border: 1px solid black; */
        /* transform:translateY(233%); */
     }
     .max_area1{
        position:absolute;
        /* left: 120px; */
        height: 200px;
        width: 800px;
        background-color:#FFFFFF  ;
        /* border: 1px solid black; */
        transform:translateY(113%);
     }
     .img_size_2{
         position: relative;
         top: 10px;
         left: 10px;
         height: 140px;
         width: 250px;
     }
     .front_size{
        position: relative;
        font-family: Arial, Helvetica, sans-serif;
        color: #555555;
        left: 20px;
        top: 10px;
        font-size: 20px;
        width: auto;
        font-weight: bolder;
     }
     .img_lb_right_3{
         font-size: 10px;
        position: relative;
        left: 300px;
        top: -80px;
     }
     .img_size_3{
        position: relative;
        top: 3px;
        width: 14px;
        height: 14px;
        color: #748595;
     }
     .detail_dev_3{
       text-align: center;
        color: #01A7EC;
     }
     .font_color{
        color: #748595;
     }
  .footer{
    position:relative;
    top: 100px;
  }
  .footer1{ 
    position:relative;
    top: 580px;
    background:#323232;
    border-top:1px solid #A4A3A3; 
    padding:10px 0 30px 0; 
    width:100%;
    height: 60px;
    color: #A4A3A3;
    text-align: center;
    /* line-height: 80px; */
    } 
    .footer2{ 
        position:relative;
        top: 590px;
        background:#323232;
        border-top:1px solid #A4A3A3; 
        padding:10px 0 30px 0; 
        width:100%;
        height: 50px;
        color: #A4A3A3;
        text-align: center;
        /* line-height: 80px; */
        } 
    .chanel_box{
        position:relative;
        top: 40px;
        /* left: 980px;  */
        border: 1px solid #FFFFFF;
        height: 350px;
        width: 350px;
        border-radius:5px;
        box-shadow:3px 3px 3px #888888;
        /* background-color: black; */
    }
.channel_box1{
    position:relative;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    left: 20px;
    top: 20px;
}
.line_box{
    position:relative;
    width: 50px;
    top: 25px;
    left: -123px;
    border-color: #000000;
}
.img_title{
    width: 350px;
    height: 50px;
    background-color: rgba(47 ,47, 47 ,0.6);
    position:relative;
    top: 190px;
   
}
.img_title_size{
    position:relative;
    top: 15px;
    left: 20px;
    color: #FFFFFF;
}
.art_detail_max_box{
    
    position: relative;
    left: 120px;
    top: 70px;
    /* height: 2200px; */
    /* overflow：hidden */
    width: 800px;
    background-color:#FFFFFF  ;
    border-radius:5px;
    box-shadow:3px 3px 3px #888888;
}
.art_detail_line_size{
    position: relative;
    left: 95px;
    top: -9px;
    width: 900px;
}
.title_info{
    font-size: 24px;
    position: relative;
    left: 20px;
    top: 20px;
}
.art_detail_icon{
    position: relative;
    top: 50px;
    left: 20px;
}
.content_info{
    position: relative;
    width: 770px;
    height: auto;
    top: 100px;
    left: 20px;
    
}
.ceshi{
    height: auto;
}
.footer3{ 
    position:relative;
    top: 120px;
    left: -120px;
    background:#323232;
    border-top:1px solid #A4A3A3; 
    padding:10px 0 30px 0; 
    width:100%;
    height: 50px;
    color: #A4A3A3;
    text-align: center;
    /* line-height: 80px; */
    } 
    .follow1{
        cursor:pointer;
        position:relative;
        top: 10px;
        left: 200px;
        background-color: #E2523A;
        height: 35px;
        width: 150px;
        color: #FFFFFF;
        text-align: center;
        border-radius:5px;
        box-shadow:3px 3px 3px #888888;
    }
    .follow2{
        cursor:pointer;
        position:relative;
        top: -25px;
        left: 400px;
        background-color: #E2523A;
        height: 35px;
        width: 150px;
        color: #FFFFFF;
        text-align: center;
        border-radius:5px;
        box-shadow:3px 3px 3px #888888;
    }
    .text_center{
        position:relative;
        top: 2px;
    }
.image_size{
    position:relative;
    left: -10px;
    top: 4px;
    height: 20px;
    width: 20px;
}
.image_size1{
    position:relative;
    left: -10px;
    top: 5px;
    height: 20px;
    width: 20px;
}
.related_article{
    position:relative;
    top: 50px;
}
.related_line_size{
    position:relative;
    width: 790px;
    left: -16px;
}
.related_line_size_1{
    position:relative;
    width: 790px;
    left: -320px;
    top: -20px;

}
.title_size2{
    position:relative;
    top: -20px;
    left: 400px;
}
.img_size_4{
    position:relative;
    top: 6px;
    left: -10px;
    height: 20px;
    width: 20px;
}
.img_size_0{
    position:relative;
    top: 6px;
    left: 12px;
    height: 20px;
    width: 20px;
}
.comment_box{
    position:relative;
    top: 550px;
    left: 120px;
}
.text_area{
    position:relative;
    left: 10px;
    height: 120px;
    width: 700px;
    border: 1px solid #767676;
    resize: none;
}
.img_size_5{
    position:relative;
    top: -60px;
    left: -10px;
    height: 40px;
    width: 40px;
}
.send_commont{
    position:relative;
    left: 660px;
    height: 40px;
    width: 100px;
    background-color: #409EFF;
    border-radius:5px;
    color: #FFFFFF;
    text-align: center;
    box-shadow:3px 3px 3px #888888;
}
.send_commont2{
    position:relative;
    top: -39px;
    left: 550px;
    height: 40px;
    width: 100px;
    background-color: #909399;
    border-radius:5px;
    color: #FFFFFF;
    text-align: center;
    box-shadow:3px 3px 3px #888888;
}
.text_hight{
    position:relative;
    top: 9px;
    cursor:pointer
}
.t_size{
    position:relative;
    top: -20px;
    left: 300px;
    color: #555555;
}
.img_size_6{
    position:relative;
    top: 15px;
    height: 40px;
    width: 40px;
}
.commont_size{
    position:relative;
    top: -20px;
    left: 60px;
    width: 640px;
}
.time_size{
    position:relative;
    top: -38px;
    left: 195px;
    font-size: 3px;
    color: #909399;
}
.username_size{
    position:relative;
    top: -20px;
    left: 55px;
    font-size: 18px;
    /* color: #909399; */
}
.no1{
    position:relative;
    color: #606266;
    top: 0px;
    left: 60px;
    cursor:pointer
}
.no2{
    position:relative;
    color: #606266;
    top: -20px;
    left: 120px;
    cursor:pointer
}
.no3{
    position:relative;
    color: #606266;
    top: -40px;
    left: 180px;
    cursor:pointer
}
.blank{
    /* position:relative; */
    height: 800px; 
}
.text_size_1{
    position:relative;
    left: 46px;
    top: -20px;
}
.text_area1{
    position:relative;
    left: 50px;
    top: -20px;
    height: 120px;
    width: 700px;
    border: 1px solid #767676;
    resize: none;
}
.img_size_7{
    position:relative;
    top: -100px;
    left: 30px;
    height: 40px;
    width: 40px;
}
.reply_comment_size{
    position:relative;
    /* border: 1px solid #767676; */
    left: 50px;
    top: -20px;
}
.chaenl_box2{
    position:relative;
    top: 30px;
    left: 20px;
    /* border: 1px solid #767676; */
    background-color: #026564;
    width: 70px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box3{
    position:relative;
    top: 0px;
    left: 100px;
    /* border: 1px solid #767676; */
    background-color:#EB6942;
    width: 60px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box4{
    position:relative;
    top: -30px;
    left: 170px;
    /* border: 1px solid #767676; */
    background-color:#3FB8AF;
    width: 50px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box5{
    position:relative;
    top: -60px;
    left: 230px;
    /* border: 1px solid #767676; */
    background-color:#FF4365;
    width: 90px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box6{
    position:relative;
    top: -50px;
    left: 20px;
    /* border: 1px solid #767676; */
    background-color:#FC9E9A;
    width: 60px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box7{
    position:relative;
    top: -80px;
    left: 90px;
    /* border: 1px solid #767676; */
    background-color:#EDC951;
    width: 70px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box8{
    position:relative;
    top: -110px;
    left: 170px;
    /* border: 1px solid #767676; */
    background-color:#C8C9AA;
    width: 70px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
}
.chaenl_box9{
    position:relative;
    top: -100px;
    left: 20px;
    /* border: 1px solid #767676; */
    background-color:#84AF9C;
    width: 70px;
    height: 30px;
    color: #F5F8F8;
    border-radius:5px;
    text-align: center;
    cursor:pointer
    
}
.tomany{
    position:relative;
    top: 500px;
    left: 450px;
    border: 1px solid ;
    width: 120px;
    border-radius:5px;
    text-align: center;
    background-color: #313131;
    color: #F5F8F8;
    height: 25px;
    
    /* border: 1px solid #767676; */
}
.font_size11{
    position:relative;
    /* top: -20px; */
}
.haveno{
    position:relative;
    top: 500px;
    left: 450px;
    height: 10px;
    width: 100px;
    /* background-color: black; */
}