.re_password_box{
    position: absolute;
    border: 1px solid #FFFFFF;
    background-color: #FFFFFF;
    height: 300px;
    width: 500px;
    left: 300px;
    top: 100px;
    border-radius:5px;
    box-shadow:3px 3px 3px #888888;
}
.old_passowrd{
    position: relative;
    color: #777777;
    top: 20px;
    left: 80px;
}
.old_passowrd input{
    position: relative;
    width: 250px;
    left: 40px;
    height: 18px;
}
.new_password{
    position: relative;
    color: #777777;
    top: 50px;
    left: 80px;
}
.new_password input{
    position: relative;
    width: 250px;
    left: 40px;
    height: 18px;
}
.sure_password{
    position: relative;
    color: #777777;
    top: 80px;
    left: 80px;
    /* font-size: 1px;
    width: 100px; */
}
.sure_password input{
    position: relative;
    width: 250px;
    left: 24px;
    height: 18px;
}
.sure_button{
    position: relative;
    top: 115px;
    left: 330px;
}
.false_button{
    position: relative;
    top: 140px;
    left: 170px;
}
.sure_button input{
    width: 100px;
}
.false_button input{
    width: 100px;
}
.old_password_error{
    position: absolute;
    top: 50px;
    left: 360px;
    font-size: 9px;
    color: red;
}
.new_password_error{
    position: absolute;
    top: 102px;
    left: 360px;
    font-size: 9px;
    color: red; 
}
.re_password_error{
    position: absolute;
    top: 162px;
    left: 360px;
    font-size: 9px;
    color: red; 
}
.re_password_error_1{
    position: absolute;
    top: 162px;
    left: 170px;
    font-size: 9px;
    color: red; 
}