.mdeditor, .mdeditor-html {
    display: block;
    box-sizing: border-box;
    height: inherit;
    min-height: 200px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.mdeditor {
    float: left;
    width: 50%;
    line-height: 1.5em;
    resize: none;
    outline: 0;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.mdeditor:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.mdeditor-html::-webkit-scrollbar, .mdeditor::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.mdeditor-html::-webkit-scrollbar-track-piece, .mdeditor::-webkit-scrollbar-track-piece {
    background: #dedede;
}

.mdeditor-html::-webkit-scrollbar-thumb, .mdeditor::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 4px;
}

.mdeditor-html::-webkit-scrollbar-thumb:hover, .mdeditor::-webkit-scrollbar-thumb:hover {
    background: #999;
}

.mdeditor-html {
    background: #fff;
    border-left: 0;
    overflow-y: auto;
    color: #333;
    font-size: 16px;
}

.mdeditor-html.preview {
    border: 0;
    padding: 0;
    overflow: inherit;
    -webkit-font-smoothing: antialiased;
    word-wrap: break-word;
}

.mdeditor-html .mdeditor-toc {
    color: #337ab7;
    line-height: 1.5em;
}

.mdeditor-html .mdeditor-toc a, .mdeditor-html .mdeditor-toc a:link {
    display: block;
    text-decoration: none;
    color: #337ab7;
}

.mdeditor-html .mdeditor-toc-1 {
    text-indent: 1em;
}

.mdeditor-html .mdeditor-toc-2 {
    text-indent: 2em;
}

.mdeditor-html .mdeditor-toc-3 {
    text-indent: 3em;
}

.mdeditor-html .mdeditor-toc-4 {
    text-indent: 4em;
}

.mdeditor-html .mdeditor-toc-5 {
    text-indent: 5em;
}

.mdeditor-html .mdeditor-toc-6 {
    text-indent: 6em;
}
.mdeditor-html hr{
    border:0;
    border-top:1px solid #e6e6e6;
    margin-bottom: 20px;
}
.mdeditor-html .mdeditor-toc a:visited {
    color: inherit;
}

.mdeditor-html .mdeditor-toc a:hover {
    color: #00f;
}

.mdeditor-html h1, .mdeditor-html h2, .mdeditor-html h3, .mdeditor-html h4, .mdeditor-html h5, .mdeditor-html h6 {
    font-weight: normal;
    color: #000;
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;
}

.mdeditor-html h1 {
    font-size: 40px;
}

.mdeditor-html h2 {
    font-size: 28px;
}

.mdeditor-html h3 {
    font-size: 22px;
}

.mdeditor-html h4 {
    font-size: 20px;
}

.mdeditor-html h5 {
    font-size: 18px;
}

.mdeditor-html h6 {
    font-size: 14px;
}

.mdeditor-html p,
.mdeditor-ol,
.mdeditor-ul {
    line-height: 1.8em;
    margin-bottom: 1.2em;
}

.mdeditor-html p{
    margin-top: 0;
}

.mdeditor-html b {
    font-size: 15px;
}

.mdeditor-html .mdeditor-img {
    font-size: 0;
}

.mdeditor-html .mdeditor-inline-code,
.mdeditor-html code,
.mdeditor-html pre {
    font-family: Consolas,monospace,Monaco,  courier;
}

.mdeditor-html .mdeditor-inline-code {
    padding: 3px 5px;
    margin: 0 2px;
    color: #c7254e;
    font-size: 13px;
    background-color: #f9f2f4;
    word-wrap: break-word;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.mdeditor-blockquote {
    margin: 0 0 1.2em;
    padding: 10px;
    color: #888;
    background: #f5f5f5;
    border-left: 1px solid #aaa;
}

.mdeditor-blockquote > :last-child{
    margin-bottom:0;
}

.mdeditor-ol, .mdeditor-ul {
    padding-left: 40px;
}
.mdeditor-ol li, .mdeditor-ul li{
    list-style: inherit;
}

.mdeditor-html .mdeditor-code {
    padding: 10px 30px;
    margin-bottom: 20px;
    border: 0;
    font-size: 13px;
    background: #f5f5f5;
    overflow: auto;
}

.mdeditor-html .mdeditor-code ol {
    margin: 0;
    padding: 0;
    color: #aaa;
}

.mdeditor-html .mdeditor-code li {
    line-height: 1.7em;
    list-style: none;
}

.mdeditor-html .mdeditor-code li > div {
    white-space: pre;
    color: #222;
    word-wrap: normal;
}

.mdeditor-table {
    width: 100%;
    margin-bottom: 10px;
    border-collapse: collapse;
    border-spacing: 0;
}

.mdeditor-table th {
    background: #f1f1f1;
    color: #666;
    font-weight: 400;
}

.mdeditor-table td, .mdeditor-table th {
    padding: 8px 10px;
    border: 1px solid #e6e6e6;
}