<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="js/vue.js"></script>
    <script src="js/common.js"></script>
    <script src="js/axios-0.18.0.min.js"></script>

</head>

<body style="margin: 0;height: auto;width: auto;background-color: #F6F6F6;">
    <div id="banner">
        <div id='banner_1'>
            <span class="nav"></span>
            <span class="nav nav2" >飞鱼博客</span>
            <span class="nav nav3" >首页</span>
            <span class="nav" onclick="toabout()" onmouseover="this.style.color='#01A7EC'"
                onmouseout="this.style.color='#777'">关于我</span>
            <span class="nav" onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'" onclick="toclassify()">归档</span>
            <span class="nav" onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'" onclick="tosort()">分类</span>
            <span class="nav" onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'" onclick="tochanel()">标签</span>
            <span class="nav" onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'" onclick="tomessage()">留言板</span>
            <span class='icon1' id="t1" onclick="test()"><img class='serach' src="/image/serach.png"></span>
            <span class='icon3' id='t3' hidden=flase><input type="text" placeholder="想搜什么呢?" id=""></span>
            <div @mouseover="showlogout" @mouseout='notshowlogout' class='hight_div'>
            <span class='icon2' onclick="login()"  ><img class='serach' src="/image/user.png"></span>
        </div>
        <div  class='logout' v-if='isshowlogout'>
            <div  class='ceshi'><div class='text_hight1'onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'"onclick="login()">个人中心</div> </div>
            <div class='ceshi'><div class='text_hight2'onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'" @click="logout">退出登陆</div></div>
        </div>
    </div>
        </div>
    </div>
    
    
    <br>
    <div class='img_lb' id="img">
        <img class='img_size' src="/image/4.jpg">
    </div>
    <div>
        <img onmouseover="img()" class='img_lb_1' src="/image/减号.png">
        <img onmouseover="img2()" class='img_lb_2' src="/image/减号.png">
        <img onmouseover="img3()" class='img_lb_3' src="/image/减号.png">
        <img onmouseover="img4()" class='img_lb_4' src="/image/减号.png">
    </div>
    <div id='label'>
        <div v-for='new_item in new_items'>
            <div class='img_lb_right_1'>
                <div class='img_title'><div class='img_title_size'>{{new_item.title1}}</div> </div>
                <img class='img_size_1' @click='getMethod(new_item.id1)' v-bind:src="new_item.avatar1">
            </div>
            <div class='img_lb_right_2'>
                <div class='img_title'><div class='img_title_size'>{{new_item.title2}}</div> </div>
                <img class='img_size_1'  @click='getMethod(new_item.id2)' v-bind:src="new_item.avatar2">
                <div class='chanel_box' id='chanel' onmouseover='line_long()' onmouseout='line_sort()'>
                    <div class='channel_box1'>标签云</div>
                    <hr class='line_box'>
                    <div class='chaenl_box2'  onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">java</div>
                    <div class='chaenl_box3' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">python</div>
                    <div class='chaenl_box4' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">css</div>
                    <div class='chaenl_box5' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">javascript</div>
                    <div class='chaenl_box6' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">前端</div>
                    <div class='chaenl_box7' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">后端</div>
                    <div class='chaenl_box8' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">docker</div>
                    <div class='chaenl_box9' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#F5F8F8'">mysql</div>
                </div>
                <br>
                <br>
                <div class='chanel_box3' >
                    <div class='channel_box2'>点击排行</div>
                    <div v-for="host_item in host_items">
                    <div @click='getMethod(host_item.id)'>
                    <div class='img_hight'  ><img class='img_size_10'v-bind:src="host_item.avatar" ></div>
                    <div class='host_title_size' onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#48494D'" >{{host_item.title}}</div>
                    <div class='host_item_time'>{{host_item.time}}</div></div>
                    
                </div>
                </div>
            </div>
        </div>
    </div>
    <div id='art_app'>
        <!-- 显示局部文章展示 -->
        <div class='why' v-if='show_article_info'>
        <div   v-for="local in local_items">
            <div >
            <div v-if='!local.title' class='load_size'>数据等在加载中...</div> 
            <div class='close' @click='close_local_box' >x</div>
                <div class='local_title' @click="getMethod(local.id)">{{local.title}}</div>
                <div class='local_username' @click="getMethod(local.id)">作者:{{local.username}}</div>
                <div class='local_content' @click="getMethod(local.id)">{{local.content}}</div>
            </div>  
        </div> 
        </div>


        <div v-for='(item,index) in items'>
            <div class='max_area' :class="{max_area_11:index==float}" @mouseover='Float(index)'  @mouseout='NotFloat(index)'>
                <div @click='getMethod(item.id)' class='front_size' onmouseover="this.style.color='#01A7EC'"
                    onmouseout="this.style.color='#555555'">{{item.title}}</div>
                <div class='img_size_2' id='img2'>
                    <img @click="getMethod(item.id)"  @mouseover='get_articl_info(item.id)' @mouseout='not_get_articl_info(item.id)'class='img_size_2' v-bind:src="item.avatar">
                </div> 
                <div class='img_lb_right_3'>
                    <img class='img_size_3' src="/image/用户.png">
                    <span class='font_color'>{{item.username}} &nbsp;&nbsp;&nbsp;</span>
                    <img class='img_size_3' src="/image/标签.png">
                    <span class='font_color'>{{item.channel}}&nbsp;&nbsp;&nbsp;</span>
                    <img class='img_size_3' src="/image/浏览.png">
                    <span class='font_color'>{{item.read_count}}&nbsp;&nbsp;&nbsp;</span>
                    <img class='img_size_3' src="/image/点赞.png">
                    <span class='font_color'>{{item.follow_count}}&nbsp;&nbsp;&nbsp;</span>
                    <img class='img_size_3' src="/image/时钟.png">
                    <span class='font_color'>{{item.time}}&nbsp;&nbsp;&nbsp;</span>
                </div>
            </div>
            <br>
            <div class='tomany' v-if='load_many(index)' @click='load_many_article(item.id)'>点击加载更多</div>
            
        </div>
        <div class='haveno' v-if='showno'>没有更多了</div>
    </div>

    <footer class=footer1>
       
        　　<div onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'"><div class='font_size11'> Copyright 2019-2020 飞鱼博客</div>
        </div>
        <div onmouseover="this.style.color='#01A7EC'" onmouseout="this.style.color='#777'"><div class='font_size11'> 赣ICP备18014504号</div></div>
    </footer>


    <script src="js/index.js"></script>
    <script>
        function setBodyWidth(){
        var barWidthHelper=document.createElement('div');
        barWidthHelper.style.cssText="overflow:scroll; width:100px; height:100px;";
        document.body.appendChild(barWidthHelper);
        var barWidth=barWidthHelper.offsetWidth-barWidthHelper.clientWidth;
        document.body.removeChild(barWidthHelper);
        var bodyWidth=window.screen.availWidth-barWidth;
        return bodyWidth;
    }
                
    $(document).ready(
        function(){
            var bodyWidth=setBodyWidth()+"px";
            //document.body.style.width=bodyWidth;
            $("body").css("width",bodyWidth);
        }
    );
    
    </script>
</body>

</html>